.animate-letters {
  $tick: 0.7s;

  font-size: 2.5em;

  span  {
    animation: animation-letters 8*$tick infinite;
    animation-timing-function: steps(start, end);

    &:nth-child(8n) {
      color: #FFE74C;
    }

    &:nth-child(8n+1) {
      animation-delay: $tick;
      color: #FF5964;
    }

    &:nth-child(8n+2) {
      animation-delay: 7 * $tick;
      color: #6BF178;
    }

    &:nth-child(8n+3) {
      animation-delay: 3 * $tick;
      color: #35A7FF;
    }

    &:nth-child(8n+4) {
      animation-delay: 5 * $tick;
      color: #FFE74C;
    }

    &:nth-child(8n+5) {
      animation-delay: 4*$tick;
      color: #FF5964;
    }

    &:nth-child(8n+6) {
      animation-delay: 5*$tick;
      color: #6BF178;
    }

    &:nth-child(8n+7) {
      animation-delay: 2*$tick;
      color: #35A7FF;
    }

    &.special {
      animation-duration: 3 * $tick;
    }
  }
}

@keyframes animation-letters {
  25% {
    color: #FFE74C;
  }

  50% {
    color: #FF5964;
  }

  75% {
    color: #6BF178;
  }

  100% {
    color: #35A7FF;
  }
}
