<section>
    <h2>It's an instrument</h2>
    <ul>
        <li>
            a <strong class="blue">part</strong> of an
            aplication like prod code
        </li>
        <li>
            owned by <strong class="green">team</strong>, not
            certain&nbsp;developers
        </li>
        <li>
            <strong class="red">helps</strong> to solve problems
        </li>
        <li>
            should be used
            <strong class="yellow">wisely</strong>
        </li>
    </ul>
</section>
