<section>
    {{#if ru}}
    <h2>Это инструмент</h2>
    <ul>
        <li>
            такая же <strong class="blue">часть</strong> приложения, <br>как и рабочий код
        </li>
        <li>
            применяется <strong class="green">командой</strong>, <br>а не отдельными разработчиками
        </li>
        <li>
            <strong class="red">помогает</strong> решать проблемы
        </li>
        <li>
            должен использоваться
            <strong class="yellow">разумно</strong>
        </li>
    </ul>
    {{else}}
    <h2>It's an instrument</h2>
    <ul>
        <li>
            a <strong class="blue">part</strong> of an
            aplication like prod code
        </li>
        <li>
            owned by <strong class="green">team</strong>, not
            certain&nbsp;developers
        </li>
        <li>
            <strong class="red">helps</strong> to solve problems
        </li>
        <li>
            should be used
            <strong class="yellow">wisely</strong>
        </li>
    </ul>
    {{/if}}
</section>
