<section>
    {{#if ru}}
    <h2>без <strong class="red">слез</strong> не взглянешь</h2>
    <div class="text text-left">
        <p>
            Писать тесты <strong class="red">невероятно сложно</strong>.<br>Приложение ведет себя непредсказуемо.
        </p>
        <p>
            <strong class="green">Создайте высокоуровневые тесты</strong>, потом перепишите весь код. <br>Как вариант, используя TDD.
        </p>
    </div>
    {{else}}
    <h2>Holy sh<strong class="red">*</strong>t</h2>
    <div class="text text-left">
        <p>
            It's <strong class="red">extraordinary hard</strong> to write units. <br>Lots of
            unpredictable behaviour.
        </p>
        <p>
            <strong class="green">Use higher-level tests</strong>, then rewrite code. <br>TDD is a
            an option.
        </p>
    </div>
    {{/if}}
</section>
