<section>
    {{#if ru}}
    <h2><strong class="green">радуги</strong> и <strong class="red">единороги</strong></h2>
    <div class="text text-left">
        <p>
            В вашем приложении божественная архитектура.
            <br>
            Код состоит из <strong class="yellow">слабо связанных модулей</strong>,
            разнесенных на <strong class="blue">независимые слои</strong> абстракций.
        </p>
        <p>
            Используйте юнит-тесты для тестирования отдельных частей системы и их взаимосвязей друг с другом.
        </p>
    </div>
    {{else}}
    <h2><strong class="red">Unicorns</strong> and <strong class="green">rainbows</strong></h2>
    <div class="text text-left">
        <p>
            You have brilliant app with <strong class="yellow">low coupled modules</strong> and
            components. <strong class="blue">Independent layers</strong> of abstractions.
        </p>
        <p>
            Use units to test interactions from bottom to top on
            small pieces of code.
        </p>
    </div>
    {{/if}}
</section>
