<section>
    <h2>something&nbsp;<strong class="green">good</strong>, something&nbsp;<strong class="red">not</strong></h2>

    <div class="text text-left">
        <p>
            Your app is rather good with a portion of bugs and
            legacy.
        </p>
        <p>
            The biggest problem is to <strong class="blue">reduce dependencies</strong>
            between different parts of the system.
        </p>
        <p>
            Usually you add testing while <strong class="yellow">refactoring</strong> big parts.
        </p>
        <p>
            Add more <strong class="red">higher-level tests</strong> firstly. Then you can
            <strong class="green">extract low coupled components</strong> and cover them with
            units.
        </p>
    </div>
</section>
