<section>
    {{#if ru}}
    <h2 class="title-small">что-то&nbsp;<strong class="green">классно</strong>, что-то <strong class="red">не очень</strong></h2>

    <div class="text text-left">
        <p>
            В целом все хорошо, хоть и не без багов и легаси.
        </p>
        <p>
            Наибольшая проблема — <strong class="blue">уменьшение зависимостей</strong>
            между различными частями системы.
        </p>
        <p>
            Тестирование обычно добавляется при <strong class="yellow">рефакторинге</strong> больших блоков.
        </p>
        <p>
            Сперва добавьте более <strong class="red">высокоуровневые тесты</strong>. Затем
            <strong class="green">выделите слабо связанные части</strong> и покройте их юнитами.
        </p>
    </div>
    {{else}}
    <h2>something&nbsp;<strong class="green">good</strong>, something&nbsp;<strong class="red">not</strong></h2>

    <div class="text text-left">
        <p>
            Your app is rather good with a portion of bugs and
            legacy.
        </p>
        <p>
            The biggest problem is to <strong class="blue">reduce dependencies</strong>
            between different parts of the system.
        </p>
        <p>
            Usually you add testing while <strong class="yellow">refactoring</strong> big parts.
        </p>
        <p>
            Add more <strong class="red">higher-level tests</strong> firstly. Then you can
            <strong class="green">extract low coupled components</strong> and cover them with
            units.
        </p>
    </div>
    {{/if}}
</section>
