<section>
    <h2>Good unit tests are</h2>
    <ul class="text-small">
        <li class="fragment">
            <strong class="yellow">Fast</strong> <br />There
            will be thousands of tests in your app. Thousands.
        </li>
        <li class="fragment">
            <strong class="blue">Isolated</strong> <br />Units
            must be standalone, without any dependencies or side
            effects.
        </li>
        <li class="fragment">
            <strong class="red">Repeatable</strong> <br />Unit
            should be consistent with it result. The result
            shouldn't change unless you change something in
            code.
        </li>
        <li class="fragment">
            <strong class="green">Timely</strong> <br />Time for
            writing test should be comparable to writing code
        </li>
    </ul>
</section>
