<section
    data-background="{{assets}}/images/unit-main.jpg"
    class="animate-letters"
>
    {{#if ru}}
    <span>Ю</span>
    <span>Н</span>
    <span>И</span>
    <span>Т</span>
    <br />
    <span>Т</span>
    <span>Е</span>
    <span>С</span>
    <span>Т</span>
    <span class="special">Ы</span>
    {{else}}
    <span>U</span>
    <span>N</span>
    <span>I</span>
    <span>T</span>
    <br />
    <span>T</span>
    <span>E</span>
    <span>S</span>
    <span>T</span>
    <span class="special">I</span>
    <span>N</span>
    <span>G</span>
    {{/if}}
</section>
