{{! Primary Meta Tags }}
<title>{{i18n.meta.title}}</title>
<meta name="title" content="{{i18n.meta.title}}">
<meta name="description" content="{{i18n.meta.description}}">

{{! Open Graph / Facebook }}
<meta property="og:type" content="website">
<meta property="og:url" content="https://aalexeev239.github.io/units-talk/{{locale}}/#/">
<meta property="og:title" content="{{i18n.meta.title}}">
<meta property="og:description" content="{{i18n.meta.description}}">
<meta property="og:image" content="https://aalexeev239.github.io/units-talk/assets/images/preview_{{locale}}.jpg">

{{! Twitter }}
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://aalexeev239.github.io/units-talk/{{locale}}/#/">
<meta property="twitter:title" content="{{i18n.meta.title}}">
<meta property="twitter:description" content="{{i18n.meta.description}}">
<meta property="twitter:image" content="https://aalexeev239.github.io/units-talk/assets/images/preview_{{locale}}.jpg">
