<section>
    <h2>References</h2>
    <div class="text text-left">
        <ul>
            <li><a href="https://docs.microsoft.com/ru-ru/dotnet/core/testing/unit-testing-best-practices">Unit testing best practices with .NET Core and .NET Standard</a></li>
            <li><a href="https://github.com/CareMessagePlatform/jasmine-styleguide">Jasmine Style Guide</a></li>
            <li><a href="https://www.toptal.com/qa/how-to-write-testable-code-and-why-it-matters">Unit Tests, How to Write Testable Code and Why it Matters</a></li>
            <li><a href="https://dzone.com/articles/unit-testing-the-good-bad-amp-ugly">Unit Testing: The Good, Bad, and Ugly</a></li>
            <li><a href="https://techbeacon.com/app-dev-testing/no-1-unit-testing-best-practice-stop-doing-it">The No. 1 unit testing best practice: Stop doing it</a></li>
            <li><a href="https://www.hbo.com/westworld">[HBO] Westworld</a></li>
        </ul>
    </div>
</section>
