<section>
    {{#if ru}}
    <h2>Что такое юнит-тест</h2>
    <p>
        Юнит-тест выделяет
        <strong class="yellow">небольшую часть</strong> приложения и проверяет ее поведение
        <strong class="blue">независимо</strong> от других частей
    </p>
    {{else}}
    <h2>What is unit</h2>
    <p>
        Unit test instantiates a
        <strong class="yellow">small portion</strong> of an
        application and tests its behavior
        <strong class="blue">independently</strong> from other
        parts
    </p>
    {{/if}}
</section>
