@import "var";
@import "tabset";


.animate-letters {
  $tick: 0.7s;

  font-size: 2.5em;

  span  {
    animation: animation-letters 8*$tick infinite;
    animation-timing-function: steps(0, end);

    &:nth-child(8n) {
      color: $color-yellow;
    }

    &:nth-child(8n+1) {
      animation-delay: $tick;
      color: $color-red;
    }

    &:nth-child(8n+2) {
      animation-delay: 7 * $tick;
      animation-duration: 7 * $tick;
      color: $color-green;
    }

    &:nth-child(8n+3) {
      animation-delay: 3 * $tick;
      color: $color-blue;
    }

    &:nth-child(8n+4) {
      animation-delay: 5 * $tick;
      color: $color-yellow;
    }

    &:nth-child(8n+5) {
      animation-delay: 4*$tick;
      animation-duration: 6 * $tick;
      color: $color-red;
    }

    &:nth-child(8n+6) {
      animation-delay: 5*$tick;
      color: $color-green;
    }

    &:nth-child(8n+7) {
      animation-delay: 2*$tick;
      animation-duration: 7 * $tick;
      color: $color-blue;
    }

    &.special {
      animation-duration: 3 * $tick;
    }
  }
}

@keyframes animation-letters {
  25% {
    color: $color-yellow;
  }

  50% {
    color: $color-red;
  }

  75% {
    color: $color-green;
  }

  100% {
    color: $color-blue;
  }
}

strong {
  &.yellow {
    color: $color-yellow;
  }

  &.red {
    color: $color-red;
  }

  &.green {
    color: $color-green;
  }

  &.blue {
    color: $color-blue;
  }
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;


  .img-wrap {
    margin: 5px;
    position: relative;
    flex: 0 0 auto;
  }

  .img-icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;

    &.circle-slash path {
      fill: $color-red;
    }

    &.check path {
      fill: $color-green;
    }
  }
}

.reveal section .images img {
  height: 250px;
  width: auto;
  margin: 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.text-small {
  font-size: 36px;
}

.text {
    max-width: 90%;
    margin: 0 auto;
    font-size: 36px;

    &.text-left {
        text-align: left;
    }
}
